<%= render "shared/navbar" %>
<div class="home-container">
  <div class="first-container">
    <div class="first-container-top">
      <div class="first-container-left"></div>
      <div class="first-container-right">
        <div class="text-part">
          <h1><span>Yoda</span> is coming</h1>
          <h2>RIDE ANYWHERE WITH FUN</h2>
        </div>
      </div>
    </div>
    <div class="first-container-bottom">
      <div class="form">
        <div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
          <% if Rails.application.config.ended %>
            <%= render "users/campaign_ended" %>
          <% else %>
            <%= render "users/campaign_ongoing" %>
          <% end %>
        </div>
        <br>
        <br>
        <a href="/already-subscribe">Already subscribe?</a>
      </div>
    </div>
  </div>
  <div class="second-container">
    <div class="text-content">
      <div class="main-text-2">
        <h1>Take a <span>ride</span></h1>
        <p>Find a Yoda Nearby<br>Ride Anywhere<br>1€ to Start, 25cent/minute</p>
        <%= link_to root_path do %>
          <%= image_tag('download_app.png', class: "download_app_btn") %>
        <% end %>
      </div>
    </div>
    <div class="iphone-container">
      <%= image_tag('iphone_yoda_app.png', class: "iphone") %>
    </div>
  </div>
  <div class="third-container">
    <%= image_tag('yoda_bike_1.png', class: "yoda-bike-image") %>
    <div class="text-container">
      <div class="main-text-3">
        <h1>An <span>e-motorbike</span> that<br> feels like riding a bike</h1>
        <h2>How does it feel?</h2>
        <ul>
          <li>Easy</li>
          <li>Safe</li>
          <li>Effortless</li>
          <li>Fun</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="fourth-container">
    <div class="text-container">
      <div class="main-text-4">
        <h1>Accessible to <span>anyone</span></h1>
        <div class="license-text">
          <p>Maximum speed based on you.<br>Do you have a license?</p>
          <div class="no-license">
            <%= image_tag('license_no.svg', class: "license-no") %>
            <p>Up to 25 km/h <span>(without a license)</span></p>
          </div>
          <div class="yes-license">
            <%= image_tag('license_ok.svg', class: "license-no") %>
            <p>Up to 45 km/h <span>(with a license)</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="iphone-container">
      <%= image_tag('dashboard_iphone1.png', class: "dashboard-iphone") %>
    </div>
  </div>
  <div class="fifth-container">
      <%= image_tag('YODA_handlebar_cable.png') %>
      <div class="text-container">
        <h2>A comfortable <span>ride</span></h2>
        <ul>
          <li>Charge your phone</li>
          <li>Answer calls in the helmet</li>
          <li>Use your phone to navigate</li>
        </ul>
      </div>
  </div>
  <div class="brussels-map">
    <%= image_tag('brussels_map.png') %>
  </div>
  <div class="contact-container">
    <div class="contact-content">
      <h3>Contact Us</h3>
      <p>Say Hello, Our Team is Excited to Hear From You!</p>
      <div class="contact-bullet-container">
        <div class="bullet">
          <%= image_tag('contact_email.png', class: "bullet-contact") %>
          <p class="title">Email</p>
          <p class="info">contact@yoda-city.com</p>
        </div>
        <div class="bullet">
          <%= image_tag('contact_phone.png', class: "bullet-contact") %>
          <p class="title">Call Us</p>
          <p class="info">+32(0)472.22.22.05</p>
        </div>
        <div class="bullet social">
          <%= link_to "http://www.instagram.com" do %>
            <%= image_tag('contact_insta.png', class: "bullet-contact") %>
          <% end %>
          <p class="title">Instagram</p>
        </div>
        <div class="bullet social">
          <%= link_to "http://www.facebook.com/yodacity", target: "_blank" do %>
            <%= image_tag('contact_facebook.png', class: "bullet-contact") %>
          <% end %>
          <p class="title">Facebook</p>
        </div>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>
<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.first-container').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
              $('.navbar-container').addClass('solid-nav');
          } else {
              $('.navbar-container').removeClass('solid-nav');
          }
      });
  });
</script>
