<%= render 'shared/navbar' %>
<div class="refer-friends-container">
  <div class="refer-friends-content">


    <div class="refer-friends-top">
        <div class="refer-friends-left"></div>
        <div class="refer-friends-right">
          <div class="text-part">
            <h2>DON'T LEAVE YOUR FRIENDS BEHIND</h2>
            <h1><span>INVITE</span> FRIENDS &<br>EARN PRODUCT</h1>
            <div class="copy-link"><%= root_url %>?ref=<%= @user.referral_code %></div>
            <% twitter_message = "#Shaving is evolving. Excited for @harrys to launch." %>
            <div class="social-links">
              <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" class="fb" target="_blank"><i class="fab fa-facebook"></i></a>
              <div class="sep"></div>
              <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"><i class="fab fa-twitter-square"></i></a>
            </div>
            <p>Share your unique link via email, Facebook or Twitter<br>and earn YodaCity's goods for each friend who signs up.</p>
          </div>
        </div>
    </div>


<%
  referrals_count = @user.referrals.count

  stops = User::REFERRAL_STEPS

  found = nil

  stops.reverse_each { |stop|
    if stop["count"] <= referrals_count and !found
      stop["selected"] = true
      found = stop
    else
      stop["selected"] = false
    end
  }
%>


    <div class="refer-friends-bottom-prizes <% if found %>prize-<%= found["class"] %><% end %>">
      <div class="page-content">
        <p class="callout">Here's How It Works:</p>
        <ul class="products clearfix">

        </ul>
      </div>
    </div>



  </div>
</div>


























