<%= render 'shared/navbar' %>
<div class="refer-friends-container">
  <div class="refer-friends-content">


    <div class="refer-friends-top">
        <div class="refer-friends-left"></div>
        <div class="refer-friends-right">
          <div class="text-part">
            <h2>DON'T LEAVE YOUR FRIENDS BEHIND</h2>
            <h1><span>INVITE</span> FRIENDS &<br>EARN PRODUCT</h1>
            <div class="copy-link"><%= root_url %>?ref=<%= @user.referral_code %></div>
            <% twitter_message = "#Mobility is evolving. Excited for YodaCity to launch." %>
            <div class="social-links">
              <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=YodaCity" class="fb" target="_blank"><i class="fab fa-facebook" style="color: #001C7A;"></i></a>
              <div class="sep"></div>
              <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"><i class="fab fa-twitter-square" style="color: #001C7A;"></i></a>
            </div>
            <p style="margin-top: 0px; color: #001C7A;">Your unique link works with those two buttons too :-)</p>
            <p>You can also share your unique link via Email, Messenger<br>or Instagram to earn YodaCity rewards.</p>
          </div>
        </div>
    </div>


<%
  referrals_count = @user.referrals.count

  stops = User::REFERRAL_STEPS

  found = nil

  stops.reverse_each { |stop|
    if stop["count"] <= referrals_count and !found
      stop["selected"] = true
      found = stop
    else
      stop["selected"] = false
    end
  }
%>


    <div class="refer-friends-bottom-prizes <% if found %>prize-<%= found["class"] %><% end %>">
      <div class="page-content">
        <p class="callout">Here's How It Works:</p>
        <ul class="products">

          <li class="title"><p class="friends">Friends Joined</p><p class="rewards">Yoda's Product</p></li>

          <% stops.each do |stop| %>

            <li class="product <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
              <div class="circle"><%= stop["count"] %></div>
              <div class="sep"></div>
              <p><%= stop["html"].html_safe %></p>

              <div class="tooltip">
                <img src="<%= stop["image"] %>" height="254">
              </div>
            </li>

          <% end %>

        </ul>
        <div class="progress">
          <div class="mover">
            <div class="bar"></div>
          </div>
        </div>


        <%
          words = ''
          if referrals_count == 1
            words = 'friend has'
          else
            words = 'friends have'
          end
        %>


        <% if referrals_count == 0 %>
          <p class="place"><span>No</span> friends have joined...Yet!</p>
        <% else %>
          <p class="place"><span id="friend"><%= referrals_count %></span> <%= words %> joined</p>
        <% end %>
        <p class="check">Keep checking</p>

      </div>
    </div>
  </div>
  <div class="pre-order-container">
    <p>YOU CAN ALSO MAKE A PRE-ORDER</p>
    <div class="pre-order-content">
      <h2><span>PRE</span>-ORDER NOW<br><span class="offer-prices">150 UNLOCKS + 400 MINUTES</span></h2>
      <%= image_tag("human_life_cycle.png", class: "human-life-cycle") %>
      <p>GET FOR <span>LIFE</span></p>
      <div class="prices">
        <p id="price-250">250€</p>
        <p id="price-50"><%= humanized_money(@product.price) %>€</p>
      </div>
      <%= render 'payments/new' %>
      <a href="#footer">Got a question?</a>
    </div>
  </div>
  <div class="second-container">
    <div class="text-content">
      <div class="main-text-2">
        <h1>Take a <span>ride</span></h1>
        <p>Find a Yoda Nearby<br>Ride Anywhere<br>1€ to Start, 25cent/minute</p>
        <%= link_to root_path do %>
          <%= image_tag('download_app.png', class: "download_app_btn") %>
        <% end %>
      </div>
    </div>
    <div class="iphone-container">
      <%= image_tag('iphone_yoda_app.png', class: "iphone") %>
    </div>
  </div>
  <div class="third-container">
    <%= image_tag('yoda_bike_1.png', class: "yoda-bike-image") %>
    <div class="text-container">
      <div class="main-text-3">
        <h1>A <span>e-motorbike</span> that<br> feels like riding a bike</h1>
        <h2>How does it feel?</h2>
        <ul>
          <li>Easy</li>
          <li>Safe</li>
          <li>Effortless</li>
          <li>Fun</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="fourth-container">
    <div class="text-container">
      <div class="main-text-4">
        <h1>Accessible to <span>anyone</span></h1>
        <div class="license-text">
          <p>Maximum speed based on you.<br>Do you have a license?</p>
          <div class="no-license">
            <%= image_tag('license_no.svg', class: "license-no") %>
            <p>Up to 25 km/h <span>(without a license)</span></p>
          </div>
          <div class="yes-license">
            <%= image_tag('license_ok.svg', class: "license-no") %>
            <p>Up to 45 km/h <span>(with a license)</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="iphone-container">
      <%= image_tag('dashboard_iphone1.png', class: "dashboard-iphone") %>
    </div>
  </div>
  <div class="fifth-container">
      <%= image_tag('YODA_handlebar_cable.png') %>
      <div class="text-container">
        <h2>A comfortable <span>ride</span></h2>
        <ul>
          <li>Charge your phone</li>
          <li>Answer calls in the helmet</li>
          <li>Use your phone to navigate</li>
        </ul>
      </div>
  </div>
  <div class="brussels-map">
    <%= image_tag('brussels_map.png') %>
  </div>
  <div class="contact-container">
    <div class="contact-content">
      <h3>Contact Us</h3>
      <p>Say Hello, Our Team is Excited to Hear From You!</p>
      <div class="contact-bullet-container">
        <div class="bullet">
          <%= image_tag('contact_email.png', class: "bullet-contact") %>
          <p class="title">Email</p>
          <p class="info">contact@yoda-city.com</p>
        </div>
        <div class="bullet">
          <%= image_tag('contact_phone.png', class: "bullet-contact") %>
          <p class="title">Call Us</p>
          <p class="info">+32(0)472.22.22.05</p>
        </div>
        <div class="bullet social">
          <%= link_to "http://www.instagram.com" do %>
            <%= image_tag('contact_insta.png', class: "bullet-contact") %>
          <% end %>
          <p class="title">Instagram</p>
        </div>
        <div class="bullet social">
          <%= link_to "http://www.facebook.com/yodacity", target: "_blank" do %>
            <%= image_tag('contact_facebook.png', class: "bullet-contact") %>
          <% end %>
          <p class="title">Facebook</p>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <%= render "shared/footer" %>
  </div>
</div>




<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.refer-friends-content').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
              $('.navbar-container').addClass('solid-nav');
          } else {
              $('.navbar-container').removeClass('solid-nav');
          }
      });
  });
</script>



















