<!DOCTYPE html>
<html>
  <head>
    <title>YodaCity &ndash; Tell Friends, Move for Free</title>
    <%= favicon_link_tag 'O-yoda.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="YodaCity is coming!"/>
    <meta property="og:description" content="Mobility is evolving. Didn’t want to leave you all behind. Check out YodaCity here."/>
    <meta property="og:image" content="<%= asset_path("yoda_mobile_1.png") %>"/>
    <meta property="og:url" content="<%= root_url %>"/>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
